@import 'fonts';
:global {
  @import 'base';
  @import 'vendor/normalize';
  @import 'bootstrapOverride';


  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font: {
      family: "open_sansregular", Helvetica Neue, Helvetica, sans-serif;
      weight: normal;
    }
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

